 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;500;700&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
/* UTILITY */
button {
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
}

:root {
    --PRIMARY-COLOR: #673b20 ;
    --LIGHT-PRIMARY: #673b20d9 ;
    --SECONDARY-COLOR: #f7ae25;
    --WHITE: white;
    --DARK-BG: #252525;
    --DARK-COLOR: gray;
    --BORDER-COLOR: rgba(128, 128, 128, 0.209);
    --NAVBAR-COLOR: gray;
}

 body {
    min-height: 100vh;
    font-family:  "SF Arabic", "Noto Sans Arabic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "hd hd hd"
    "sb mn mn"
    "ft ft ft";
    /* background-color: var(--DARK-BG);
    color: var(--DARK-COLOR); */
 }

 .dark_mode {
    background-color: var(--DARK-BG);
    color: var(--DARK-COLOR);
 }

 .toggle_display {
    position: absolute;
    top: 13px;
    right: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
 }

 #light_mode {
    display: none;
 }

 li {
    cursor: pointer;
 }

 header {
    grid-area: hd;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid var(--BORDER-COLOR);
 }

 header ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    font-weight: 490;
 }

 .add-sale {
    color: var(--SECONDARY-COLOR);
 }

 header img {
    width: 50px;
    height: auto;
 }
 
nav {
    grid-area: sb;
    border: 1px solid var(--BORDER-COLOR);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

nav li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    color: var(--NAVBAR-COLOR);
    padding: 5px;
}

#selected_page {
    background-color: rgb(240, 238, 238);
    border-radius: 5px;
    padding: 5px;
}

 main {
    grid-area: mn;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 20px;
 }

main h1 {
    color: var(--PRIMARY-COLOR)
}

.newsale_container{
    width: 400px;
    height: fit-content;
    border: 2px solid var(--PRIMARY-COLOR);
    border-radius: 10px;
    padding: 20px;
}

.newsale_container h2 {
    margin-bottom: .7rem;
}

.newsale_container .caption {
    color: var(--NAVBAR-COLOR);
    margin-bottom: 2rem;
}

.select_item {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

/* #menuItems {
    width: 300px;
    margin-block: 1rem;
    margin-bottom: 2rem;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 1.2rem;
    cursor: pointer;
} */


.choices__list {
    font-size: 1.1rem;
}

.quantity {
    font-weight: 600;
    margin-bottom: 10px;
}

.btns_container {
    margin-block: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.decrement_btn, .increment_btn {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    background-color: white;
    border: 2px solid var(--BORDER-COLOR);
    border-radius: 50%;
    color: black;
}

.quantity_input {
    width: 80px;
    height: 50px;
    padding: 5px;
    margin-inline: 1rem;
    border-radius: 5px;
    border: 2px solid var(--BORDER-COLOR);
    text-align: center;
    font-size: 1.1rem;
}

.add_btn {
    width: 300px;
    margin-top: 2rem;
    margin-left: 1.5rem;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--PRIMARY-COLOR);
    color: var(--SECONDARY-COLOR);
    font-size: 1.5rem; 
}

 footer {
    grid-area: ft;
    border: 1px solid var(--BORDER-COLOR);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
 }

 footer ul {
    display: flex;
    list-style-type: square;
    gap:20px;
 }

 footer li:nth-child(2) {
    margin-left: 1rem;
 }

@media (max-width: 500px) {

    body {
        min-height: 100vh;
        font-family: system-ui;
        font-size: 16px;
        display: grid;
        grid-template-columns: 1fr 7fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
        "hd hd hd"
        "mn mn mn"
        "ft ft ft";
    }

    header ul {
        width: 100%;
        font-weight: 500;
    }

    nav {
        display: none;
    }

    main h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 50px;
        padding-top: 4rem;
    }

    .newsale_container {
        width: 90%;
    }

    .add_btn {
        width: 90%;
    }
}