* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --PRIMARY-COLOR: #673b20;
  --LIGHT-PRIMARY: #673b20d9;
  --SECONDARY-COLOR: #d09730;
  --LIGHT-SECONDARY: #f7ae25;
  --WHITE: white;
  --DARK-BG: #050505;
  --DARK-COLOR: var(--SECONDARY-COLOR);
  --BORDER-COLOR: rgba(128, 128, 128, 0.209);
  --NAVBAR-COLOR: gray;
}

body {
  min-height: 100vh;
  font-family: system-ui;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "hd hd hd"
    "sb mn mn"
    "ft ft ft";
  /* background-color: var(--DARK-BG);
    color: var(--DARK-COLOR); */
}

.dark_mode {
  background-color: var(--DARK-BG);
  color: var(--DARK-COLOR);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.291);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.profile_icon {
  position: absolute;
  top: 13px;
  right: 60px;
  cursor: pointer;
  width: 40px;
  height: 33px;
  fill: var(--PRIMARY-COLOR);
  & path {
    stroke: var(--PRIMARY-COLOR);
    stroke-width: 1.5px;
  }
}

.profile_card {
  position: absolute;
  top: 50px;
  right: 10px;
  min-width: 200px;
  height: fit-content;
  background-color: white;
  border: 1px solid var(--BORDER-COLOR);
  padding: 10px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 10px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.2s linear;

  & .close_profile_card {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  & ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    gap: 10px;

    & li {
      width: 100%;
      font-size: 0.9rem;
      cursor: text;
    }

    & #userEmail {
      margin-top: 5px;
      cursor: text;
      color: gray;
    }

    & .line {
      width: 100%;
      background-color: var(--BORDER-COLOR);
      height: 1px;
    }

    & #logOut {
      cursor: pointer;
      color: #ff0000;
    }
  }
}

.logout_model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--WHITE);
  min-width: 300px;
  height: auto;
  border: 1px solid var(--BORDER-COLOR);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
}

.btns_div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  margin-top: 10px;

  & p {
    font-size: 1rem;
  }

  & button {
    padding: 5px 8px;
    letter-spacing: 1px;
    font-size: 1rem;
    border-radius: 5px;
  }
}

#cancelLogOut {
  border: none;
  background-color: var(--PRIMARY-COLOR);
  color: var(--LIGHT-SECONDARY);
  font-weight: 500;
  cursor: pointer;
}

#confirmLogOut {
  color: #ff0000;
  border: 1px solid var(--BORDER-COLOR);
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
}

.show {
  opacity: 1;
  transition: opacity 0.2s linear;
}

.toggle_display {
  position: absolute;
  top: 13px;
  right: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#light_mode {
  display: none;
}

li {
  cursor: pointer;
}

header {
  grid-area: hd;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

header ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  font-weight: 500;
}

.home {
  color: var(--SECONDARY-COLOR);
}

header img {
  width: 50px;
  height: auto;
}

nav {
  grid-area: sb;
  border: 1px solid var(--BORDER-COLOR);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

nav li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: var(--NAVBAR-COLOR);
  padding: 5px;
}

#selected_page {
  background-color: rgb(240, 238, 238);
  border-radius: 5px;
  padding: 5px;
}

main {
  grid-area: mn;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

main h1 {
  color: var(--PRIMARY-COLOR);
}

.sales_breakdown {
  width: 80%;
  min-height: 380px;
  max-height: 380px;
  overflow: auto;
  display: flex;
  flex-direction: column;

  box-shadow: 0 0 4px #0000003d;
  /* box-shadow: 0 4px 20px rgba(67,36,6,0.08); */
  border-radius: 8px;
}

body.dark_mode .sales_breakdown {
  box-shadow: 0 0 4px #e7e3e33d;
}

body.dark_mode table tr {
  color: var(--SECONDARY-COLOR) !important;
  border-bottom-color:#d0983039;
}

.sales_breakdown::-webkit-scrollbar {
  width: 2px;
  overflow-y: auto;
  display: none;
}

.sales_breakdown::-webkit-scrollbar-thumb {
  background-color: var(--SECONDARY-COLOR);
  border-radius: 15px;
}

.sales_header {
  width: 100%;
  padding: 10px;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 500;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--PRIMARY-COLOR);
  color: var(--SECONDARY-COLOR);
}

.sales_table {
  display: flex;
  flex-direction: column;
  width: 100%;

  scroll-behavior: smooth;
}

.sales_table::-webkit-scrollbar {
  display: none !important;
}

.table_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--PRIMARY-COLOR);
  background-color: #673b2012;
  padding: 15px;
  font-weight: 700;
  font-size: 0.8rem;
}

.noItemsFeedback {
  color: var(--PRIMARY-COLOR);
  margin-block: 3rem;
  text-align: center;
  font-weight: 500;
}

.table_row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-top: 1px solid #673b2016;
  padding: 15px;
  padding-block: 15px;
  font-family: "system-ui";
  font-weight: 600;

  font-size: 0.9rem;
  color: var(--PRIMARY-COLOR);
}

.item-name-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  & .item-bullet {
    width: 7px;
    height: 7px;
    background-color: var(--PRIMARY-COLOR);
    border-radius: 50%;
  }
}

/* .quantity {
  background-color: rgba(128, 128, 128, 0.09);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 4px;
  padding-inline: 15px;
  border-radius: 8px;
} */

.MAD {
  font-size: 0.7rem;
}

.total_revenue {
  width: 80%;
  border-left: 4px solid green;
  padding-left: 10px;
  margin-top: auto;
}

.total_revenue_number {
  font-size: 2rem;
  color: green;
  font-weight: 600;
}

.sales-table {
  /* background-color: red; */
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  & thead {
    width: 100%;
    text-align: left;
    color: var(--PRIMARY-COLOR);
    background-color: #673b2012;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.9px;

    & th {
      padding: 15px;
    }
  }

  & tbody tr {
    text-align: left;
    border-bottom: 1px solid #673b2016;

    font-family: "system-ui";
    font-weight: 600;

    font-size: 0.9rem;
    color: var(--PRIMARY-COLOR);
  }

  & td {
    padding: 10px;
  }

  & td.align-center,
  th.align-center {
    text-align: center;
  }

  & td.align-right,
  th.align-right {
    text-align: right;
  }

  & td .revenue-number {
    font-weight: 800;
  }

  & td .currency {
    font-size: 0.7rem;
  }

  & td .quantity-badge {
    background-color: rgba(128, 128, 128, 0.09);
    width: fit-content;
    height: fit-content;
    padding: 4px;
    padding-inline: 15px;
    border-radius: 8px;
  }

  & td.center-content {
    text-align: center;
  }

 

  & .bullet {
    display: inline-flex;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--PRIMARY-COLOR);
    margin-right: 4px;
  }

  & .delete-row-btn {
    display: inline-flex;
    justify-content: content;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--PRIMARY-COLOR);
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
    transition: background 0.2s linear;
  }

  & .delete-row-btn:hover {
    background-color: rgba(255, 0, 0, 0.157);
    color: rgb(136, 2, 2);
  }
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid;
  border-color: var(--PRIMARY-COLOR) transparent;
  animation: spin 1s infinite;
  margin: 2rem auto 0;
}

@keyframes spin {
  to {
    transform: rotate(0.5turn);
  }
}

footer {
  grid-area: ft;
  border: 1px solid var(--BORDER-COLOR);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

footer ul {
  display: flex;
  list-style-type: square;
  gap: 20px;
}

footer li:nth-child(2) {
  margin-left: 1rem;
}

.notif_container {
  position: fixed;
  bottom: 5%;
  right: -100%;
  background-color: var(--PRIMARY-COLOR);
  color: var(--LIGHT-SECONDARY);
  display: flex;
  align-items: center;
  padding: 20px;
  padding-bottom: 25px;
  border-radius: 8px;
  gap: 20px;
  width: fit-content;
  max-height: 30px;
  transition: all 0.3s linear;
  border-left: 5px solid var(--LIGHT-SECONDARY);
}

.show_notif {
  display: inline-flex;
  right: 5%;
  transition: right 0.3s linear;
}

.svg_container {
  display: grid;
  place-content: center;
}

.progress {
  width: 0;
  height: 4px;
  background-color: var(--SECONDARY-COLOR);
  position: absolute;
  bottom: 0;
  left: 10px;
  border-radius: 10px;
}

.move {
  width: 93%;
  transition: width 3s linear;
}

@media (max-width: 600px) {
  body {
    min-height: 100vh;
    font-family: system-ui;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "hd hd hd"
      "mn mn mn"
      "ft ft ft";
  }

  header ul {
    width: 100%;
    font-weight: 500;
  }

  nav {
    display: none;
  }

  main h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }

  .sales_breakdown {
    width: 100%;
    max-height: 400px;
  }

  .table_row {
    grid-template-columns: 1.7fr 1fr 1fr;
  }

  .total_revenue {
    margin-top: 3rem;
  }

  .notif_container {
    top: 10%;
  }
}

@media (min-width: 800px) and (max-width: 770px) {
  .sales_breakdown {
    width: 90%;
  }

  .total_revenue {
    margin-top: 5rem;
    width: 90%;
  }

  nav {
    display: none;
  }
}
