* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --PRIMARY-COLOR: #673b20;
  --LIGHT-PRIMARY: #673b20d9;
  --SECONDARY-COLOR: #d09730;
  --LIGHT-SECONDARY: #f7ae25;
  --WHITE: white;
  --DARK-BG: #251f35;
  --DARK-COLOR: #b8b2c3;
  --BORDER-COLOR: rgba(128, 128, 128, 0.209);
  --NAVBAR-COLOR: gray;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: system-ui;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 10px;
  gap: 10px;
  & h1 {
    color: var(--PRIMARY-COLOR);
  }
}

.backArrow {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

main {
  width: 60%;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-inline: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 0 4px rgba(84, 84, 84, 0.209);
  padding: 20px;
  border-radius: 10px;
}

.card {
  width: 100%;
  margin: auto;
  min-height: 150px;
  max-height: 380px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--BORDER-COLOR);
  border-radius: 8px;
}

caption {
  width: 100%;
  padding: 10px;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 500;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--PRIMARY-COLOR);
  color: var(--SECONDARY-COLOR);
}

table {
  border: 2px solid var(--BORDER-COLOR);
  border-collapse: collapse;
}

td {
  border: 2px solid var(--BORDER-COLOR);
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  font-weight: 500;
}

thead {
  width: 100%;
  color: var(--PRIMARY-COLOR);
  padding-inline: 15px;

  & td {
    font-weight: 700;
  }
}

.noItemsFeedback {
  color: var(--PRIMARY-COLOR);
  margin-block: 3rem;
  text-align: center;
  font-weight: 500;
}

.tbody tr {
  padding: 10px;
  font-family: "system-ui";
  font-weight: 500;
  letter-spacing: 1px;
}

@media (max-width: 500px) {

    header  {
        margin-top: 3rem;
        & h1 {
            font-size: 1.5rem;
        }
        
    }

  main {
    width: 100%;
  }
}
